* {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body {
	margin: 0;
	font-family: 'Maven Pro', sans-serif;
}

/* Медиа Запросы */

.list {
	display: none;
	text-decoration: none;
	color: #6a6a77;
	font-size: 2rem;
}

@media (max-width: 992px) {
  .price-tegs, .btn {
  	flex-direction: column !important;
  	justify-content: center !important;
  	align-items: center !important;
    }

  .list {
  	display: flex;
  }

  footer nav,
  div.main nav {
  	display: none;
  }
}

.m-menu {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 3rem;
	position: fixed;
	right: 0;
	top: 0;
	background-color: rgb(106, 106, 119, 0.5);
	height: 100vh;
	transition: all 0.3s ease-out;
	transform: translateX(100%);
}

.m-menu__active {
	transform: translateX(0%);
}

.m-menu ul a {
	text-decoration: none;
	color: white;
	font-size: 16px;
	font-weight: 500;
	font-style: normal;
	letter-spacing: normal;
	line-height: 40px;
}
.m-menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.close-menu {
	position: fixed;
	right: 1rem;
	top: 0rem;
	font-size: 3rem;
	font-weight: 900;
	color: white;
}

.close-menu:hover {
	cursor: pointer;
}

/* Шапка */

.main {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	background: url(../img/2-layers.png) center no-repeat;
	background-size: cover;
	min-height: 100vh;
	color: white;
	padding-bottom: 2rem;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 10vh;
	width: 90%;
}

nav {
	width: 60%;
}

nav ul {
	display: flex;
	justify-content: space-between;
	list-style: none;
}

nav ul li.hover a:hover {
	padding: 1rem;
	border-bottom: 2px solid white;
}

nav ul li a {
	text-decoration: none;
	color: white;
	transition: 0.3s;
	font-size: 16px;
	font-weight: 500;
	font-style: normal;
	letter-spacing: normal;
	line-height: 19px;
}

nav ul li:last-child a {
	border: 1px solid white;
	border-radius: 50px;
	padding: 21px 33px 19px 33px;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 700;
}

.main-text {
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.main-text span {
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	display: inline-block;

}


.main-text span::before,
.main-text span::after {
	content: '';
	width: 24px;
	height: 1px;
	background-color: white;
	display: inline-block;
	vertical-align: middle;
	margin: 0 15px;
}

.main-text h1 {
	font-size: 86px;
	font-weight: 500;
	margin: 35px 0 17px 0;
}

.main-text p {
	font-size: 16px;
	font-weight: 400;
}

.main-arrow {
	height: 10vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.arrow-down:hover {
	box-shadow: 0 0 19px 2px rgba(204, 204, 223, 0.5);
}

.arrow-down {
	width: 64px;
	height: 64px;
	text-align: center;
	line-height: 70px;
	background-color: white;
	border-radius: 50%;
	transition: 0.3s;
}

/* Меню */

main {
	background-color: #f9fafc;
	min-height: 600px;
	color: #9fa4af;
	padding: 4rem;
}

.table-header {
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.table-header span {
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	display: inline-block;
}

.table-header span::before,
.table-header span::after {
	content: '';
	width: 24px;
	height: 1px;
	background-color: #6e45e2;
	display: inline-block;
	vertical-align: middle;
	margin: 0 15px;
}

.table-header h2 {
	font-size: 60px;
	font-weight: 500;
	margin: 0;
	color: #4f4f6f;
}

.table-header p {
	font-size: 16px;
	font-weight: 400;
	margin-bottom: 4rem;
}

.price-tegs {
	display: flex;
	justify-content: space-around;
}

.price-teg {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 2rem;
	text-align: center;
	width: 400px;
	border-radius: 30px;
	border: 1px solid #d7dbe8;
	transition: 0.4s;
}

.price-teg:hover {
	cursor: pointer;
	box-shadow: 0 0 82px 10px rgba(204, 204, 223, 1);
}

.price-teg > span {
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	display: inline-block;
	margin: 60px 0 28px 0;
}

.price-teg h2 {
	font-size: 60px;
	font-weight: 500;
	margin: 0;
	color: #4f4f6f;
}

.price-teg h2 sup,
.price-teg h2 span {
	font-size: 18px;
}

.price-teg p {
	font-size: 16px;
	font-weight: 400;
}

.price-teg a {
	font-size: 12px;
	font-weight: 700;
	color: #c2c9db;
	box-shadow: 0 0 19px 2px rgba(204, 204, 223, 0.5);
	background-color: #ffffff;
	border: 1px solid #d7dbe8;
	border-radius: 25px;
	text-transform: uppercase;
	text-decoration: none;
	padding: 21px 54px 19px 53px;
	transition: 0.4s;
}

.price-teg a:hover {
	color: #ffffff;
	background-color: #6e45e2;
}

/* Карта */

div.map {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: url(../img/map.png) center no-repeat;
	background-size: cover;
	color: white;
	padding: 10rem 0;
}

div.map span {
	color: #ffffff;
	font-family: "Maven Pro";
	font-size: 14px;
	font-weight: 700;
	font-style: normal;
	letter-spacing: normal;
	line-height: 32px;
	text-align: left;
	text-transform: uppercase;
}

div.map h2 {
	color: #ffffff;
	font-family: "Maven Pro";
	font-size: 60px;
	font-weight: 500;
	font-style: normal;
	letter-spacing: normal;
	line-height: 72px;
	text-align: center;
}

div.map .btn {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 40%;
}

div.map a {
	font-size: 12px;
	font-weight: 700;
	color: #c2c9db;
	box-shadow: 0 0 19px 2px rgba(204, 204, 223, 0.5);
	background-color: #ffffff;
	border-radius: 25px;
	text-transform: uppercase;
	text-decoration: none;
	padding: 21px 53px 19px 53px;
	transition: 0.4s;
	margin-top: 10px;
}

div.map a:last-child {
	padding: 21px 33.5px 19px 33.5px;
}

div.map a:hover {
	color: #ffffff;
	background-color: #6e45e2;
}

/* Подвал */

footer {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 2rem 0;
}

footer nav ul li a {
	text-decoration: none;
	color: #6a6a77;
	transition: 0.3s;
	font-size: 16px;
	font-weight: 500;
	font-style: normal;
	letter-spacing: normal;
	line-height: 19px;
}

footer nav ul li:last-child a {
	border: 1px solid white;
	border-radius: 50px;
	padding: 21px 33px 19px 33px;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 700;
	color: #ffffff;
	background-color: #6e45e2;
}

footer nav ul li.hover_f a:hover {
	color: #756edc;
}
